@model List<ElectronicApp.Models.Brand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>Brand ID</th>
        <th>Brand Name</th>
    </tr>

    @foreach (var brand in Model)
    {
        <tr>
            <td>@brand.BrandID</td>
            <td>@brand.BrandName</td>
        </tr>


    }
</table>
